@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-lp-color: #ed3f1a;
    --ligth-lp-color: #ec930f;
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 80px;
    width: 100%;
    background: var(--dark-lp-color);
    background: linear-gradient(135deg, var(--dark-lp-color) 38%, var(--ligth-lp-color) 100%);
    color: #fff;
    font-size: 1.4em;
    z-index: 10;
}

#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid black;
    margin-top: 130px;
    padding-bottom: 50px;
}

#container * {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    transition: .1s ease-in;
    border: 2px solid var(--ligth-lp-color)
}

#container *:hover {
    background-color: #bbb;
    border-radius: 10px;
}

button.fullfilled {
    color: var(--ligth-lp-color);
    background-color: var(--dark-lp-color);
}

button:disabled:hover {
    background-color: #fff;
}

#uploaded_display {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#uploaded_display * {
    margin-right: 5%;
}

h3 {
    margin-left: 10%;
    width: 80%;
}

#elaborated {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 30vh;
    margin-left: 10%;
    padding-left: 20px;
    border-left: 2px solid var(--dark-lp-color);
}

#elaborated p {
    width: 10%;
}