@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-lp-color: #ed3f1a;
    --ligth-lp-color: #ec930f;
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 80px;
    width: 100%;
    background: var(--dark-lp-color);
    background: linear-gradient(135deg, var(--dark-lp-color) 38%, var(--ligth-lp-color) 100%);
    color: #fff;
    font-size: 1.4em;
}

#container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid black;
    margin-top: 100px;
    padding: 50px;
}

h4 {
    display: flex;
    align-items: center;
    height: 80%;
    margin-left: 50px;
}

#uploaded_display {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 2px solid var(--ligth-lp-color);
}

#uploaded_display * {
    margin-right: 10px;
}

#form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

label[for="inputtag"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 2px solid var(--ligth-lp-color);
    cursor: pointer;
}

button {
    width: 500px;
    height: 150px;
    font-size: 1em;
    height: 50%;
    background-color: #fff;
    border: 2px solid var(--ligth-lp-color);
    transition: .2s linear;
}

button:hover {
    background-color: #bbb;
}

button.fullfilled {
    color: var(--ligth-lp-color);
    background-color: var(--dark-lp-color) ;
}

h3 {
    margin-left: 10%;
}

#elaborated {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 30vh;
    margin-left: 10%;
    padding-left: 20px;
    border-left: 2px solid var(--dark-lp-color);
}

#elaborated p {
    width: 10%;
}